<h2>Contatos</h2>

<p>Não é difícil me encontrar pela internet, mas vou te ajudar com isso:</p>

<div class="links">
    <a href="https://www.linkedin.com/in/andr%C3%A9-luiz-marcelino-da-silva-3987a0137/" target="_blank" class="contact">
        <img src="assets/icons/linkedin.svg" alt="Linkedin" title="Linkedin">
        <p>Linkedin</p>
    </a>

    <a href="https://github.com/andr-marc" target="_blank" class="contact">
        <img src="assets/icons/github.svg" alt="Github" title="Github">
        <p>Github</p>
    </a>

    <a href="https://t.me/AndreMarc/" target="_blank" class="contact">
        <img src="assets/icons/telegram.svg" alt="Telegram" title="Telegram">
        <p>Telegram</p>
    </a>

    <a href="mailto:andreluis0015@gmail.com" class="contact">
        <img src="assets/icons/gmail.svg" alt="E-mail" title="E-mail">
        <p>E-mail</p>
    </a>

</div>



