@use '../../../assets/colors' as c;

h2 {
    margin-bottom: 2rem;
}

.text {
    font-size: 1.125rem;
    margin-bottom: 2rem;
    line-height: 180%;
}

.ps {
    margin-bottom: .5rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    a {
        display: flex;
        text-decoration: none;
        color: c.$dark-purple;
        align-items: center;
        width: max-content;
        padding: .5rem 1rem;
        border-radius: .5rem;
        background-color: c.$white;
        min-width: 8rem;

        &:hover {
            background-color: c.$french-gray;
        }

        img {
            width: 2rem;
            height: 2rem;
            margin-right: .5rem;
        }
    }
}

@media screen and (min-width: 576px) { 
    .text {
        line-height: 160%;
    }
}