@use '../../../assets/colors' as c;

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: c.$dark-purple;
    height: 5.5rem;
    box-shadow: 0 1px 10px #12121299;
    
    .body {
        max-width: 90rem;
        width: calc(100%);
        padding-left: 4rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h1 {
            font-size: 1.6rem;
        }
        nav {
            display: none;
        }
    }
}

@media screen and (min-width: 576px) {
    header {
        .body {
            h1 {
                font-size: 1.6rem;
                margin-right: .5rem;
            }
            nav {
                display: block;
                a {
                    margin-right: 1.5rem;
                    color: #ddd;
                    // font-size: .8rem;
                }
            }

        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .body {
            h1 {
                margin-right: 5rem;
            }
            nav {
                a {
                    margin-right: 1.5rem;
                    font-size: 1rem;
                }
            }
        }
    }
}

