.content {
    max-width: 90rem;
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: row;
    height: max-content;
    align-items: center;
    gap: 2rem;
    margin: 6rem 0;

    img {
        border-radius: 50%;
        width: 18dvw;
        height: 18dvw;
    }

    .me {
        display: flex;
        flex-direction: column;
        

        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 250%;
        }

        span {
            font-size: 2rem;
        }
    }
}