<section id="inicio">
    <div class="profile" >
        <img src="assets/images/profile.jpg" alt="Olá, mundo">
        <div class="me">
            <h1>André Luiz Marcelino da Silva</h1>
            <span>Programador Full-stack</span>
            <span>{{yearsOld}} anos</span>
        </div>
    </div>
    <div class="badges">
        <img src="assets/icons/angular.svg" alt="Angular" title="Angular">
        <img src="assets/icons/spring.svg" alt="Spring" title="Spring">
        <img src="assets/icons/postgresql.svg" alt="Postgresql" title="Postgresql">
        <img src="assets/icons/java.svg" alt="Java" title="Java">
        <img src="assets/icons/typescript.svg" alt="Typescript" title="Typescript">
        <img src="assets/icons/react.svg" alt="React" title="React">
        <img src="assets/icons/flutter.svg" alt="Flutter" title="Flutter">
    </div>
    
    <div class="bio">
        <p>Olá, eu sou o André; sou bacharel em Engenharia da Computação e trabalho com desenvolvimento de sistemas Web.</p>
        <p>Minha maior experiência é com Angular e Spring, mas amo explorar o Flutter.</p>
        <p>Sou apaixonado pelo Front-end e sempre quero aprender mais para melhorar a experiência das pessoas navegando pela
            internet.</p>
        <p>Se eu não estiver no computador, vou estar com minha segunda paixão: a leitura. Mas temos uma certeza, vou estar
            ouvindo música em todas as situações.</p>
    </div>
</section>