@use '../assets/colors' as c;

.background {
    width: 100dvw;
    min-height: 100dvh;
    background-color: c.$dark-purple;
    color: c.$french-gray;
    display: flex;
    justify-content: center;
    .content {
        max-width: 90rem;
        min-height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 2rem 4rem;
    }
}